<div class="container">
  <div class="col-md-offset-2 col-md-8 col-sm-12">
    <h1 class="homepage-h1">Modifier informations</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field col-sm-12">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "col-xs-12"  %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field col-sm-12">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "col-xs-12"  %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field col-sm-12">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "col-xs-12"  %>
      </div>

      <div class="field col-sm-12">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: "col-xs-12"  %>
      </div>

      <div class="actions col-sm-12">
        <%= f.submit "Update", class: "btn-md btn-primary btn-larger" %>
      </div>

    <% end %>

    <div class=" col-sm-12" id="downed">
      <h3>Cancel my account</h3>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-danger btn-md btn-larger" %></p>
    </div>

    <%= link_to "Back", :back %>

  </div>
</div>
