<div class="col-md-3">
	<h2 class="hidden-aa">&nbsp;&nbsp;Contreparties</h2>
	<% @counterparts.each do |counterpart| %>
		<div class="col-md-12 col-sm-4 bloc-contrepartie">
			<div class="thumbnail counterpart-box">
				<% if counterpart.portrait_data? %>
					<%= image_tag counterpart.portrait_url(:portrait), class: "img-responsive img-aa" %>
				<% end %>
				<h2 class="project-name"> <%= counterpart.name %></h2>
				<p class="project-short-describe"><%= counterpart.description %></p>
				<hr>
				<p class="counterpart-amount">&nbsp;&nbsp;&nbsp;Montant minimum : <%= counterpart.amount %> €</p>
				<p class="counterpart-number">
					<% if counterpart.stock_illimite? %>
						&nbsp;&nbsp;&nbsp;Nombre disponible : <span style="font-size:2em;line-height: 0.5em;">&#8734;</span>
					<% else %>
						&nbsp;&nbsp;&nbsp;Nombre disponible : <%= counterpart.stock %> / <%= counterpart.number %>
					<% end %>
					</p>
				<hr class="hidden-aa">
				<%= link_to "Contribuer", '#', class: "btn btn-primary nav-justified hidden-aa" %>
				
			</div>
		</div>
	<% end %>
</div>
