<!DOCTYPE html>
<html>
  <head>
    <title>Formation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
	    <div class="container">
	    	<div class="row">
	      		<h3 class="col-md-4 col-sm-4">ISMAEL</h3>
	      		<nav class="col-md-8 col-sm-8">
	        		<div id="login-logout">
	          			<% if current_user %>
	          				Bonjour, <%= current_user.name.capitalize %> ! | <%= link_to "X", '/logout'%>
	          			<% else %>
	          				<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
	          			<% end %>
	       			</div>
	      		</nav>
	      	</div>
   		</div>
 	</header>

    <%= yield %>
  </body>
</html>
